[settings]
python.uv_venv_auto = true

[tools]
uv = "0.9.7"
ruff = "0.14.3"

[tasks.install]
description = "Install dependencies"
alias = "i"
run = "uv sync --all-groups"

[tasks.update]
description = "Update all dependencies"
alias = "u"
run = "uv sync -U"

[tasks.outdated]
description = "List outdated dependencies"
alias = "o"
run = "uv pip list --outdated"

[tasks.export-deps]
description = "Export dependencies to requirements.txt"
alias = "ed"
run = "uv export --format requirements-txt --no-hashes --no-header --no-dev --no-annotate --output-file requirements.txt"

[tasks.export-dev]
description = "Export dev dependencies to requirements-dev.txt"
alias = "edd"
run = "uv export --format requirements-txt --no-hashes --no-header --dev --no-annotate --output-file requirements-dev.txt"

[tasks.format]
description = "Lint & format (fix by default)"
alias = "f"
run = [
  "ruff format . --config pyproject.toml",
  "ruff check --fix --unsafe-fixes . --config pyproject.toml",
]

[tasks.mypy]
description = "Type check with mypy"
alias = "m"
run = "uv run mypy megaloader --config-file pyproject.toml"
