interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.gofile.io/accounts
  response:
    body:
      string: '{"status":"ok","data":{"id":"78237700-361d-408b-9c32-d33e2d99f5a1","rootFolder":"32c8ba3e-db49-4c3f-9184-136615f0c689","tier":"guest","token":"hetPSTiYes75QISWaa6Ip1MFxSgiGESE"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b2-gnMUH4GALMz0tScZjt9TJPVyNB8"
      Origin-Agent-Cluster:
      - ?1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-BL:
      - en-US
      X-Website-Token:
      - 79561537131b7b76ba384dcda63dd0bbf619dee288f761d61951aa46e5bb51a2
    method: GET
    uri: https://api.gofile.io/contents/RQxQ4Q?contentFilter=&sortField=name&sortDirection=1&pageSize=1000&page=1
  response:
    body:
      string: '{"status":"ok","data":{"canAccess":true,"id":"b0c56df6-a03f-4a6b-9d83-ab8855d55b24","type":"folder","name":"images","createTime":1781375800,"modTime":1781375828,"code":"RQxQ4Q","public":true,"totalDownloadCount":0,"totalSize":1603583,"childrenCount":6,"children":{"6bfdbe5e-e2cc-46a6-9893-9d7c9e38403f":{"canAccess":true,"id":"6bfdbe5e-e2cc-46a6-9893-9d7c9e38403f","parentFolder":"b0c56df6-a03f-4a6b-9d83-ab8855d55b24","type":"file","name":"sample-image-01.jpg","createTime":1781375825,"modTime":1781375825,"size":207558,"downloadCount":0,"md5":"4b9289c992138becd4c25261e644f5bd","mimetype":"image/jpeg","servers":["cold-na-phx-6"],"serverSelected":"cold-na-phx-6","link":"https://cold-na-phx-6.gofile.io/download/web/6bfdbe5e-e2cc-46a6-9893-9d7c9e38403f/sample-image-01.jpg","thumbnail":"https://cold-na-phx-6.gofile.io/download/web/6bfdbe5e-e2cc-46a6-9893-9d7c9e38403f/thumb_4b9289c992138becd4c25261e644f5bd"},"3a17e45f-793f-49ae-a66b-aede06bd560e":{"canAccess":true,"id":"3a17e45f-793f-49ae-a66b-aede06bd560e","parentFolder":"b0c56df6-a03f-4a6b-9d83-ab8855d55b24","type":"file","name":"sample-image-02.jpg","createTime":1781375825,"modTime":1781375825,"size":405661,"downloadCount":0,"md5":"e02422661c2544bb16678a264c6b1204","mimetype":"image/jpeg","servers":["cold-na-phx-6"],"serverS[...]
