interactions:
- request:
    body: null
    headers:
      X-BL:
      - en-US
      X-Website-Token:
      - 79561537131b7b76ba384dcda63dd0bbf619dee288f761d61951aa46e5bb51a2
    method: GET
    uri: https://api.gofile.io/contents/5yk4TR?contentFilter=&sortField=name&sortDirection=1&pageSize=1000&page=1
  response:
    body:
      string: '{"status":"ok","data":{"canAccess":true,"id":"c9265dbc-7326-4dfa-a1dc-f0c1d6094f2f","type":"folder","name":"videos","createTime":1781370103,"modTime":1781370127,"code":"5yk4TR","public":true,"totalDownloadCount":0,"totalSize":14273419,"childrenCount":4,"children":{"61e60fb5-7434-44ac-a881-690eec38e3fd":{"canAccess":true,"id":"61e60fb5-7434-44ac-a881-690eec38e3fd","parentFolder":"c9265dbc-7326-4dfa-a1dc-f0c1d6094f2f","type":"file","name":"sample-video-bunny.webm","createTime":1781370125,"modTime":1781370125,"size":5243523,"downloadCount":0,"md5":"c16088bd389a6aba983ad3357c75f979","mimetype":"video/webm","servers":["cold-na-phx-10"],"serverSelected":"cold-na-phx-10","link":"https://cold-na-phx-10.gofile.io/download/web/61e60fb5-7434-44ac-a881-690eec38e3fd/sample-video-bunny.webm","thumbnail":"https://cold-na-phx-10.gofile.io/download/web/61e60fb5-7434-44ac-a881-690eec38e3fd/thumb_c16088bd389a6aba983ad3357c75f979"},"211db1dd-cfb3-437c-bced-d10aad91c6d6":{"canAccess":true,"id":"211db1dd-cfb3-437c-bced-d10aad91c6d6","parentFolder":"c9265dbc-7326-4dfa-a1dc-f0c1d6094f2f","type":"file","name":"sample-video-jellyfish.mkv","createTime":1781370124,"modTime":1781370124,"size":5207169,"downloadCount":0,"md5":"8fbea07bbfde4d7d4909885d649cea53","mimetype":"video/x-matroska","servers":["cold-na-p[...]
