interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/info/ntY9Vvkh73rUB
  response:
    body:
      string: '{"name":"sample-image-01-LWQGC9I3.jpg","type":"image/jpeg","size":207558,"slug":"ntY9Vvkh73rUB","thumbnail_url":"https://api.cyberdrop.cr/api/proxy/thumb/ntY9Vvkh73rUB","auth_url":"https://api.cyberdrop.cr/api/file/auth/ntY9Vvkh73rUB"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/auth/ntY9Vvkh73rUB
  response:
    body:
      string: '{"url":"https://k1-cd.cdn.gigachad-cdn.ru/api/file/d/ntY9Vvkh73rUB?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3ODE0NTgwMDksImZpbGVTbHVnIjoibnRZOVZ2a2g3M3JVQiJ9.50EbwMkr_HrUtcYnW2pK4YF51G_yvFwKugK-b2sPnfE"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
