interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cyberdrop.cr/a/w4iUzGgx
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta name=\"clckd\"
        content=\"563d880a737f984384720b4c3c851d66\" />\n    <meta charset=\"utf-8\"
        />\n    <meta name=\"description\" content=\"Album: images [6 files :: 1.53
        MB] on cyberdrop.cr [Reg: OPEN] - A privacy-focused censorship-resistant file
        sharing platform free for everyone. Upload files up to 200MB. Keep your uploads
        safe and secure with us \U0001F510\" />\n    <meta name=\"keywords\" content=\"upload,CyberDrop,file,images,free,hosting,pack,album,set,packs,collection,Album:
        images [6 files :: 1.53 MB]\" />\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\" />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"
        />\n    <title>Album: images [6 files :: 1.53 MB] | CyberDrop</title>\n\n
        \   \n<link rel=\"stylesheet\" href=\"https://cyberdrop.cr/libs/bulma/bulma@0.7.5.min.css\">\n<link
        rel=\"stylesheet\" href=\"https://cyberdrop.cr/libs/creativebulma/bulma-badge@1.0.1.min.css\">\n<link
        rel=\"stylesheet\" href=\"https://cyberdrop.cr/libs/creativebulma/bulma-divider@1.1.0.min.css\">\n<link
        rel=\"stylesheet\" href=\"https://cyberdrop.cr/css/style.css\">\n<link rel=\"stylesheet\"
        href=\"https://cyberdrop.cr/css/thumbs.css\">\n<link rel=\"stylesheet\" href=\"https://cyberdrop.cr/css/album.css\">\n<style>iframe{height:inherit}#center{text-align:center}</style>\n<script
        data-cfasync=\"false\">!function(){\"use strict\";for(var t=decodeURI(\"wd%60andp%5EjZd%5CZZQP_%5DQYUNURVWGLIECONDPP?MCIL:BI;%3C65?%3C/6:0%3Eq%3C,3-%25160-+-%7D%20%20%7Dyyut#t%20v$v!ryz!nQ%7BkrvhrmabcAkh%5Bbfkjaie%5EUbPZYUY%5D%5DIUIJ%5EIIQOOSMP%3CAS%3E%3E9D886=3;=05/-5*(/)'/+1)#%7C%20(yzzvzzv)yp%25x%7Brkj%7Cltfeffggvonih%5D%5C%5Bcba%5CZk%5BSRcW_dPSa%60MN%5DLWKMJITWOJAAKKK:=AGt=tA@@%3C%3Em6%20)94.2*A0%22)#%200!/'z+~$%22A@@O[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/info/5voPzmFpQXi1M
  response:
    body:
      string: '{"name":"sample-image-06-jJRXY3za.jpg","type":"image/jpeg","size":89101,"slug":"5voPzmFpQXi1M","thumbnail_url":"https://api.cyberdrop.cr/api/proxy/thumb/5voPzmFpQXi1M","auth_url":"https://api.cyberdrop.cr/api/file/auth/5voPzmFpQXi1M"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/auth/5voPzmFpQXi1M
  response:
    body:
      string: '{"url":"https://k1-cd.cdn.gigachad-cdn.ru/api/file/d/5voPzmFpQXi1M?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3ODE0NTc5MjEsImZpbGVTbHVnIjoiNXZvUHptRnBRWGkxTSJ9.5_MY8cYKuDdbFzchXFIN2uO6iTuoQI016QrgUXVvIgE"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/info/EZHuFNJhwT8mj
  response:
    body:
      string: '{"name":"sample-image-05-zeCmV5Qf.jpg","type":"image/jpeg","size":202748,"slug":"EZHuFNJhwT8mj","thumbnail_url":"https://api.cyberdrop.cr/api/proxy/thumb/EZHuFNJhwT8mj","auth_url":"https://api.cyberdrop.cr/api/file/auth/EZHuFNJhwT8mj"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/auth/EZHuFNJhwT8mj
  response:
    body:
      string: '{"url":"https://k1-cd.cdn.gigachad-cdn.ru/api/file/d/EZHuFNJhwT8mj?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3ODE0NTc5MzIsImZpbGVTbHVnIjoiRVpIdUZOSmh3VDhtaiJ9.kqr8BlKY62VYDYm9zko9q4dc7vhnZOx6kc79ins-70k"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/info/JxXOdycgj6aFd
  response:
    body:
      string: '{"name":"sample-image-03-R2ZWW6Lz.jpg","type":"image/jpeg","size":286359,"slug":"JxXOdycgj6aFd","thumbnail_url":"https://api.cyberdrop.cr/api/proxy/thumb/JxXOdycgj6aFd","auth_url":"https://api.cyberdrop.cr/api/file/auth/JxXOdycgj6aFd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/auth/JxXOdycgj6aFd
  response:
    body:
      string: '{"url":"https://k1-cd.cdn.gigachad-cdn.ru/api/file/d/JxXOdycgj6aFd?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3ODE0NTc5MzYsImZpbGVTbHVnIjoiSnhYT2R5Y2dqNmFGZCJ9.ftDykbK2Q5WvTfiUQu8kjuc_-C_CMuxQ85PpJpJDTlE"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/info/0B0WKV9hNm4g1
  response:
    body:
      string: '{"name":"sample-image-04-9kv5KwVJ.jpg","type":"image/jpeg","size":412156,"slug":"0B0WKV9hNm4g1","thumbnail_url":"https://api.cyberdrop.cr/api/proxy/thumb/0B0WKV9hNm4g1","auth_url":"https://api.cyberdrop.cr/api/file/auth/0B0WKV9hNm4g1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/auth/0B0WKV9hNm4g1
  response:
    body:
      string: '{"url":"https://k1-cd.cdn.gigachad-cdn.ru/api/file/d/0B0WKV9hNm4g1?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3ODE0NTc5NDEsImZpbGVTbHVnIjoiMEIwV0tWOWhObTRnMSJ9.T82eh93e-S1gD7J1vjh8rot6AENAmzPb1SxW2LWjlY0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/info/ntY9Vvkh73rUB
  response:
    body:
      string: '{"name":"sample-image-01-LWQGC9I3.jpg","type":"image/jpeg","size":207558,"slug":"ntY9Vvkh73rUB","thumbnail_url":"https://api.cyberdrop.cr/api/proxy/thumb/ntY9Vvkh73rUB","auth_url":"https://api.cyberdrop.cr/api/file/auth/ntY9Vvkh73rUB"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/auth/ntY9Vvkh73rUB
  response:
    body:
      string: '{"url":"https://k1-cd.cdn.gigachad-cdn.ru/api/file/d/ntY9Vvkh73rUB?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3ODE0NTc5NDUsImZpbGVTbHVnIjoibnRZOVZ2a2g3M3JVQiJ9.Gl6VyUmnMcDh3Wk5hEot1kPtxG0Kt59ZtwpNC5nJNLQ"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/info/HL6U5IgWnUv19
  response:
    body:
      string: '{"name":"sample-image-02-2UgoH1AC.jpg","type":"image/jpeg","size":405661,"slug":"HL6U5IgWnUv19","thumbnail_url":"https://api.cyberdrop.cr/api/proxy/thumb/HL6U5IgWnUv19","auth_url":"https://api.cyberdrop.cr/api/file/auth/HL6U5IgWnUv19"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.cyberdrop.cr/api/file/auth/HL6U5IgWnUv19
  response:
    body:
      string: '{"url":"https://k1-cd.cdn.gigachad-cdn.ru/api/file/d/HL6U5IgWnUv19?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3ODE0NTc5NTMsImZpbGVTbHVnIjoiSEw2VTVJZ1duVXYxOSJ9.bWTTI5XfMDsEteEi30JqnuxB-jJHbxmVye2Hgo7iWKU"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
