interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bunkr.si/a/xYKtNmBx
  response:
    body:
      string: "<html lang=\"en\" class=\"dark\">\n\t<head>\n\t\t<meta charset=\"UTF-8\">\n\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n \n\t\t\n\t\t\n\t\t
        <title>images | Bunkr</title>\n\t\t <meta name=\"description\" content=\"Explore
        this album with 6 files.\" />\n\t\t <meta property=\"og:type\" content=\"album\">\n\t\t
        <meta property=\"og:title\" content=\"images\">\n\t\t <meta property=\"og:description\"
        content=\"Explore this album with 6 files.\">\n\t\t <meta property=\"og:image\"
        content=\"https://static.scdn.st/2a931006-01b8-4741-87f3-5e96999a2c4e/thumbs/3e48b142-bc3b-4b8d-bbc9-db9f891687d3.png\">\n\t\t
        <meta property=\"og:url\" content=\"/a/600769\">\n\t\t <script  type=\"text/javascript\"
        src=\"/js/album-sorting.js?v6\"></script>\n\t\t <script  type=\"text/javascript\"
        src=\"/js/album-stats.js?v2\"></script>\n\t\t <script  type=\"text/javascript\"
        src=\"/js/album_replace.js?v2\"></script>\n\t\t <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/css/lightgallery-bundle.min.css\">\n\t\t
        <script src=\"/js/gallery.js?v47\"></script>\n\t\t \n\t\t <link rel=\"icon\"
        href=\"/images/fav.ico\" type=\"image/x-icon\">\n\n\t </head>\n\n\t<header
        class=\"bg-mute border-b border-soft sticky top-0 z-30\" role=\"banner\">\n\t
        \   <link rel=\"stylesheet\" href=\"/css/master.css\">\n\t\t<div class=\"cont\">\n\t\t\t<div
        class=\"flex items-center gap-4 relative\">\n\t\t\t\t<button class=\"btn p-0
        btn-toggle btn-viewport md:hidden\" type=\"button\" data-target=\"menu-box\"
        aria-label=\"Menu\">\n\t\t\t\t\t<span class=\"ic-menu-01 text-xl [.on_&]:hidden\"
        aria-hidden=\"true\"></span>\n\t\t\t\t\t<span class=\"ic-x-close text-xl hidden
        [.on_&]:block\" aria-hidden=\"true\"></span>\n\t\t\t\t</button>\n\t\t\t\t<figure
        class=\"flex min-h-16 items-center flex-1 md:flex-none\"><a href=\"/\">\n\t\t\t\t\t<img
        class=\"dark:hidden\" width=\"40\" height=\"36\" src=\"/images/icon.svg\"
        alt=\"bunkr\">\n\t\t\t\t\t<img class=\"hidden dark:block\" width=\"40\" height=\"36\"
        src=\"/images/icon.svg\" alt=\"bunkr\">\n\t\t\t\t</a></figure>\n\t\t\t\t<nav
        id=\"menu-box\" class=\"hidden absolute z-40 bg-body start-0 top-16 flex-col
        rounded-lg p-4 w-64 md:flex-1 md:ps-4 md:flex md:justify-between md:items-center
        [&.show]:flex md:static md:bg-transparent md:w-auto md:p-0 md:flex-row\">\n\t\t\t\t\t<ul
        class=\"flex gap-1 flex-col mb-4 md:mb-0 md:gap-6 md:flex-row lg:gap-8\">\n\t\t\t\t\t\t<li><a
        class=\"btn md:min-h-16 gap-2 md:py-4 hover:bg-mute md:hover:shadow-none hover:shadow
        rounded-lg w-full justify-start md:w-auto md:px-0 md:rounded-none font-semibold
        md:border-b-[3px] md:border-b-transparent md:[&.current]:border-b-main [&.current]:text-main\"
        href=\"https://bunkr-albums.io\"><span class=\"ic-albums text-base\" aria-hidden=\"true\"></span>
        Albums</a></li>\n\t\t\t\t\t\t<li><a class=\"btn md:min-h-16 gap-2 md:py-4
        hover:bg-mute md:hover:shadow-none hover:shadow rounded-lg w-full justify-start
        md:w-auto md:px-0 md:rounded-none font-semibold md:border-b-[3px] md:border-b-transparent
        md:[&.current]:border-b-main [&.current]:text-main\" href=\"/faq\"><span class=\"ic-message-question-circle
        text-base\" aria-hidden=\"true\"></span> FAQ</a></li>\n\t\t\t\t\t\t<li><a
        class=\"btn md:min-h-16 gap-2 md:py-4 hover:bg-mute md:hover:shadow-none hover:shadow
        rounded-lg w-full justify-st[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://bunkr.si/f/SkCdbF61rEiy0
  response:
    body:
      string: "<html lang=\"en\" class=\"dark\">\n\t<head>\n\t\t<meta charset=\"UTF-8\">\n\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n \n\t\t\n\t\t\n\t\t
        <title>sample-image-06.jpg | Bunkr</title>\n\t\t <meta name=\"description\"
        content=\"File hosted for free on Bunkr.\" />\n\t\t <meta property=\"og:type\"
        content=\"video\">\n\t\t <meta property=\"og:title\" content=\"sample-image-06.jpg\">\n\t\t
        <meta property=\"og:image\" content=\"https://static.scdn.st/2a931006-01b8-4741-87f3-5e96999a2c4e/thumbs/3e48b142-bc3b-4b8d-bbc9-db9f891687d3.jpg.png\">\n
        \n\t\t \n\t\t <link rel=\"icon\" href=\"/images/fav.ico\" type=\"image/x-icon\">\n\n\t
        </head>\n\n\t<header class=\"bg-mute border-b border-soft sticky top-0 z-30\"
        role=\"banner\">\n\t    <link rel=\"stylesheet\" href=\"/css/master.css\">\n\t\t<div
        class=\"cont\">\n\t\t\t<div class=\"flex items-center gap-4 relative\">\n\t\t\t\t<button
        class=\"btn p-0 btn-toggle btn-viewport md:hidden\" type=\"button\" data-target=\"menu-box\"
        aria-label=\"Menu\">\n\t\t\t\t\t<span class=\"ic-menu-01 text-xl [.on_&]:hidden\"
        aria-hidden=\"true\"></span>\n\t\t\t\t\t<span class=\"[...]
- request:
    body: '{"id": "55418273"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://apidl.bunkr.ru/api/_001_v2
  response:
    body:
      string: '{"encrypted":true,"timestamp":1781355590,"url":"OzE3IjZucGQmaDJEFFYWUVQ9ayAgamc6f307bgALGVpRAzFodzB9MHIpJzpmGV1WAVQIanR1anIwbGUvKTg="}'
    headers:
      Content-Type:
      - application/json
      X-Query-Cache:
      - MISS
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://bunkr.si/f/nISZKl4y3UihZ
  response:
    body:
      string: "<html lang=\"en\" class=\"dark\">\n\t<head>\n\t\t<meta charset=\"UTF-8\">\n\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n \n\t\t\n\t\t\n\t\t
        <title>sample-image-04.jpg | Bunkr</title>\n\t\t <meta name=\"description\"
        content=\"File hosted for free on Bunkr.\" />\n\t\t <meta property=\"og:type\"
        cont[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://bunkr.si/f/vup9fyhIvf6Ge
  response:
    body:
      string: "<html lang=\"en\" class=\"dark\">\n\t<head>\n\t\t<meta charset=\"UTF-8\">\n\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n \n\t\t\n\t\t\n\t\t
        <title>sample-image-05.jpg | Bunkr</title>\n\t\t <meta name=\"description\"
        content=\"File hosted for free on Bunkr.\" />\n\t\t <meta property=\"og:type\"
        cont[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://bunkr.si/f/BafC6nCiyhiMI
  response:
    body:
      string: "<html lang=\"en\" class=\"dark\">\n\t<head>\n\t\t<meta charset=\"UTF-8\">\n\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n \n\t\t\n\t\t\n\t\t
        <title>sample-image-03.jpg | Bunkr</title>\n\t\t <meta name=\"description\"
        content=\"File hosted for free on Bunkr.\" />\n\t\t <meta property=\"og:type\"
        cont[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://bunkr.si/f/z0EW9Wc6zxhA7
  response:
    body:
      string: "<html lang=\"en\" class=\"dark\">\n\t<head>\n\t\t<meta charset=\"UTF-8\">\n\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n \n\t\t\n\t\t\n\t\t
        <title>sample-image-01.jpg | Bunkr</title>\n\t\t <meta name=\"description\"
        content=\"File hosted for free on Bunkr.\" />\n\t\t <meta property=\"og:type\"
        cont[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://bunkr.si/f/k5bXlhmKewO9A
  response:
    body:
      string: "<html lang=\"en\" class=\"dark\">\n\t<head>\n\t\t<meta charset=\"UTF-8\">\n\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n \n\t\t\n\t\t\n\t\t
        <title>sample-image-02.jpg | Bunkr</title>\n\t\t <meta name=\"description\"
        content=\"File hosted for free on Bunkr.\" />\n\t\t <meta property=\"og:type\"
        cont[...]
- request:
    body: '{"id": "55418263"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://apidl.bunkr.ru/api/_001_v2
  response:
    body:
      string: '{"encrypted":true,"timestamp":1781355595,"url":"OzE3IjZucGQmaDJEFFYWUVQ9ayAgamA9eydqOVdfGQkHUWJodzMhYHJzIWg+GQsNCwsCa3QhYHE3bGUvKTg="}'
    headers:
      Content-Type:
      - application/json
      X-Query-Cache:
      - MISS
    status:
      code: 200
      message: OK
version: 1
