interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bunkr.si/f/z0EW9Wc6zxhA7
  response:
    body:
      string: "<html lang=\"en\" class=\"dark\">\n\t<head>\n\t\t<meta charset=\"UTF-8\">\n\t\t<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n \n\t\t\n\t\t\n\t\t
        <title>sample-image-01.jpg | Bunkr</title>\n\t\t <meta name=\"description\"
        content=\"File hosted for free on Bunkr.\" />\n\t\t <meta property=\"og:type\"
        content=\"video\">\n\t\t <meta property=\"og:title\" content=\"sample-image-01.jpg\">\n\t\t
        <meta property=\"og:image\" content=\"https://static.scdn.st/2a931006-01b8-4741-87f3-5e96999a2c4e/thumbs/f0d95583-c09d-40f2-ab04-740423936c29.jpg.png\">\n
        \n\t\t \n\t\t <link rel=\"icon\" href=\"/images/fav.ico\" type=\"image/x-icon\">\n\n\t
        </head>\n\n\t<header class=\"bg-mute border-b border-soft sticky top-0 z-30\"
        role=\"banner\">\n\t    <link rel=\"stylesheet\" href=\"/css/master.css\">\n\t\t<div
        class=\"cont\">\n\t\t\t<div class=\"flex items-center gap-4 relative\">\n\t\t\t\t<button
        class=\"btn p-0 btn-toggle btn-viewport md:hidden\" type=\"button\" data-target=\"menu-box\"
        aria-label=\"Menu\">\n\t\t\t\t\t<span class=\"ic-menu-01 text-xl [.on_&]:hidden\"
        aria-hidden=\"true\"></span>\n\t\t\t\t\t<span class=\"ic-x-close text-xl hidden
        [.on_&]:block\" aria-hidden=\"true\"></span>\n\t\t\t\t</button>\n\t\t\t\t<figure
        class=\"flex min-h-16 items-center flex-1 md:flex-none\"><a href=\"/\">\n\t\t\t\t\t<img
        class=\"dark:hidden\" width=\"40\" height=\"36\" src=\"/images/icon.svg\"
        alt=\"bunkr\">\n\t\t\t\t\t<img class=\"hidden dark:block\" width=\"40\" height=\"36\"
        src=\"/images/icon.svg\" alt=\"bunkr\">\n\t\t\t\t</a></figure>\n\t\t\t\t<nav
        id=\"menu-box\" class=\"hidden absolute z-40 bg-body start-0 top-16 flex-col
        rounded-lg p-4 w-64 md:flex-1 md:ps-4 md:flex md:justify-between md:items-center
        [&.show]:flex md:static md:bg-transparent md:w-auto md:p-0 md:flex-row\">\n\t\t\t\t\t<ul
        class=\"flex gap-1 flex-col mb-4 md:mb-0 md:gap-6 md:flex-row lg:gap-8\">\n\t\t\t\t\t\t<li><a
        class=\"btn md:min-h-16 gap-2 md:py-4 hover:bg-mute md:hover:shadow-none hover:shadow
        rounded-lg w-full justify-start md:w-auto md:px-0 md:rounded-none font-semibold
        md:border-b-[3px] md:border-b-transparent md:[&.current]:border-b-main [&.current]:text-main\"
        href=\"https://bunkr-albums.io\"><span class=\"ic-albums text-base\" aria-hidden=\"true\"></span>
        Albums</a></li>\n\t\t\t\t\t\t<li><a class=\"btn md:min-h-16 gap-2 md:py-4
        hover:bg-mute md:hover:shadow-none hover:shadow rounded-lg w-full justify-start
        md:w-auto md:px-0 md:rounded-none font-semibold md:border-b-[3px] md:border-b-transparent
        md:[&.current]:border-b-main [&.current]:text-main\" href=\"/faq\"><span class=\"ic-message-question-circle
        text-base\" aria-hidden=\"true\"></span> FAQ</a></li>\n\t\t\t\t\t\t<li><a
        class=\"btn md:min-h-16 gap-2 md:py-4 hover:bg-mute md:hover:shadow-none hover:shadow
        rounded-lg w-full justify-start md:w-auto md:px-0 md:rounded-none font-semibold
        md:border-b-[3px] md:border-b-transparent md:[&.current]:border-b-main [&.current]:text-main\"
        href=\"https://status.bunkr.ru/\"><span class=\"ic-bar-chart-12 text-base\"
        aria-hidden=\"true\"></span> Status</a></li>\n\t\t\t\t\t</ul>\n\t\t\t\t\t<a
        class=\"btn btn-seco-outline rounded-full ic-upload-01 ic-before before:text-lg
        font-semibold px-4\" href=\"/upload\">Upload</a>\n\t\t\t\t</nav>\n\t\t\t\t<div
        id=\"menu-box-overlay\" class=\"btn-toggle btn-viewport bg-back/90 fixed inset-0
        z-30 hidden animate-overlay overflow-hidden md:overflow-visible [&.show]:block
        md:invisible\" data-target=\"menu-box\"></div>\n\t\t\t\t<button class=\"btn
        p-0 btn-mode\" type=\"button\" aria-label=\"Theme\" disabled>\n\t\t\t\t\t<span
        class=\"ic-sun text-2xl hidden dark:flex\" aria-hidden=\"true\"></span>\n\t\t\t\t\t<span
        class=\"ic-moon-star text-2xl dark:hidden\" aria-hidden=\"true\"></span>\n\t\t\t\t</button>\n\t\t\t</div>\n\t\t</div>\n\t</header>\n<div
        style=\"background: red;color: white;padding: 20px;text-align: center;\">bunkr-albums.io
        is now balbums.st (old domain isn't working anymore), <a href=\"https://balbums.st\"
        target=\"_blank\">click here to visit</a></div>\n\n\n    <script defer data-file-id=\"55418262\"
        src=\"../js/lv.js\"></script>\n<main class=\"cont py-6 grid auto-rows-max
        gap-6\">\n    <div class=\"flex flex-wrap items-center gap-4\">        \n
        \       <div class=\"flex items-center gap-3 md:flex-1\">\n            <span
        class=\"icon ic-videos w-12 h-12 rounded-full bg-mute border-b border-line
        shrink-0 grid place-content-center text-xl\"></span>\n            <div class=\"flex-1
        grid gap-0.5 auto-rows-max\">\n                <div style=\"display:none;\">\n
        \                   Debug: Original=sample-image-01.jpg, Size=207558\n                </div>\n
        \               <h1 class=\"text-subs font-semibold text-base sm:text-lg truncate\">sample-image-01.jpg</h1>\n
        \               <p class=\"text-xs\">\n                    \n                        202.69
        KB\n                    \n                    <span id=\"downloadCount\"></span>\n
        \                   <div id=\"fileTracker\" data-file-id=\"55418262\" style=\"display:
        none;\"></div>\n                    <div class=\"live-indicator-container\">\n
        \                       <div class=\"live-dot\">\n                            <div
        class=\"dot\"></div>\n                            <div class=\"pulse\"></div>\n
        \                       </div>\n                        <span id=\"liveCount\">Live
        users: 0</span>\n                    </div>\n                </p>\n            </div>\n
        \       </div>\n\n        <div class=\"flex w-full md:w-auto gap-4\">\n            \n
        \           <a class=\"btn btn-main btn-lg rounded-full px-6 font-semibold
        flex-1 ic-download-01 ic-before before:text-lg\" href=\"https://dl.bunkr.cr/file/55418262\"
        target=\"_blank\">Download</a>\n            \n            <a class=\"btn btn-main-ghost
        btn-lg p-0 rounded-full text-xl ic-fl[...]
- request:
    body: '{"id": "55418262"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://apidl.bunkr.ru/api/_001_v2
  response:
    body:
      string: '{"encrypted":true,"timestamp":1781355594,"url":"OzE3IjZucGQmaDJEFFYWUVQ9ayAgajJvL3xsagwKGVsCCTdod2IjZnIqJ2lrGQ4ACAYCYHxwZCZmZmUvKTg="}'
    headers:
      Content-Type:
      - application/json
      X-Query-Cache:
      - HIT
    status:
      code: 200
      message: OK
version: 1
