interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pixeldrain.com/l/GSLKgrYj
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n\t\t<title>images
        ~ pixeldrain</title>\n\t\t<meta charset=\"UTF-8\"/>\n\t\t<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0\"/>\n\t\t<meta name=\"robots\"
        content=\"noindex, nofollow\">\n\n\t\t\n\n\n<meta property=\"og:title\" content=\"images\"
        />\n\n<meta property=\"og:site_name\" content=\"pixeldrain\" />\n\n<meta property=\"og:description\"
        content=\"This file has been shared with you on pixeldrain\" />\n\n<meta property=\"og:url\"
        content=\"https://pixeldrain.com/l/GSLKgrYj\" /[...]
