name: deploy docs (gh-pages)

on:
  push:
    branches: [main]
    paths: ["apps/docs/**"]

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./apps/docs

    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.3

      - uses: actions/configure-pages@v5

      - run: bun ci

      - run: bun run docs:build
        env:
          VITE_BASE: "/megaloader/"
          VITE_API_URL: "https://megaloader-api.vercel.app"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: apps/docs/megaloader/.vitepress/dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
