name: security report

on:
  push:
    branches: ["main"]
    paths: ["**/*.py"]
  workflow_dispatch:

jobs:
  security_checks:
    runs-on: ubuntu-latest
    name: PyCharm security scan
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - uses: actions/checkout@v5

      - uses: tonybaloney/pycharm-security@5c1ceeb1fb2a18478fa7076a81f9f47fd450e592 # v1.25.1
        with:
          path: megaloader/
          fail_on_warnings: "no"
